<!DOCTYPE html>

{% extends "base.html" %}
{% block note_content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<style>
.mydiv {
  position: fixed;
  z-index: 9;
  background-color: #fcfc00;
  text-align: center;
  border: 1px solid #aaaa00;
  height: min(15vw, 15vh);
  width: min(15vw, 15vh);
}

.mydivheader {
  cursor: move;
  z-index: 10;
  background-color: #f0f000;
}

.column {
  float: left;
  width: 33.333333333%;
  text-align: center;
  height: 100vh;
}
</style>
<body id = "frame">

  <div class="column" style="background-color:#ccc;">
    <h1> To-Do </h1>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h1> In Progress </h1>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h1> Done </h1>
  </div>

{% for object in objects %}

<div class="mydiv" --X = {{object.x}} --Y = {{object.y}} --note-id = {{object.id}}>
  <div class="mydivheader"> {{object.title}} </div>
  <p>{{object.content}}</p>
</div>

{% endfor %}


<script>
//Make the DIV element draggagle:
window.addEventListener("resize", calibrateNotePosition);

function calibrateNotePosition(){
for (var i = 0; i < mydivs.length; i++){
  mydivs[i].style.left = mydivs[i].getAttribute("--X")*window.innerWidth/100 + "px"
  mydivs[i].style.top  = mydivs[i].getAttribute("--Y")*window.innerHeight/100 + "px"
}

}
var mydivs = document.getElementsByClassName("mydiv")
for (var i = 0; i < mydivs.length; i++){
  dragElement(mydivs[i]);
  calibrateNotePosition()
}
function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementsByClassName("header")[0]) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementsByClassName("header")[0].onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX ;
    pos4 = e.clientY ;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
    var w = window.innerWidth;
    var h = window.innerHeight;
    var posdict = {"xScreen":w, "yScreen":h}
    for (var i = 0; i < mydivs.length; i++){
      var mydivStyle = mydivs[i].style
      var note_id = mydivs[i].getAttribute('--note-id')
      posdict[note_id] = [mydivStyle.left, mydivStyle.top]
      console.log("CORDS:", [mydivStyle.left, mydivStyle.top])

    }
    console.log("Width and Height:", w, h)
    $.ajax({
      url: '/note/ajax/update/',
      data: posdict,
      type: 'POST'
    })
    console.log('Logging complete!')
    //   dict[mydivStyle.getPropertyValue("--note-id")] = (mydivStyle.top, mydivStyle.left);
    // }
    // console.log("made it boi");
    // var dictString = JSON.stringify(dict);
    // var fs = require('fs');
    // fs.writeFile("mydivs.json", dictstring);
  }

}
</script>

</body>
{% endblock %}
