<!DOCTYPE html>

{% extends "base.html" %}
{% block note_content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<style>
.mydiv {
  position: fixed;
  z-index: 9;
  background-color: #fcfc00;
  text-align: center;
  border: 1px solid #aaaa00;
  height: min(20vw, 20vh);
  width: min(20vw, 20vh);
}

.mydivheader {
  cursor: move;
  height : 25px;
  background-color: #f0f000;
}

.headertextbox {
  background-color: transparent;
  z-index: 8;
  width: 100%;
  text-align: center;
  border-width: 0px;
}

.content {
  background-color: transparent;
  z-index: 7;
  width: 100%;
  text-align: center;
  border-width: 0px;
  resize: none
}

.column {
  float: left;
  width: 33.333333333%;
  text-align: center;
  height: 100vh;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

img { 
  height: min(10vw, 10vh);
  width: min(10vw, 10vh);
}


</style>
<body id = "frame">

{% load static %}
<img src="{% static "note/trash.png" %}" alt="My image" class="bottomright">


  <div class="column" style="background-color:#ccc;">
    <h1> To-Do </h1>
  </div>
  <div class="column" style="background-color:#aaa;">
    <h1> In Progress </h1>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h1> Done </h1>
  </div>

{% for object in objects %}

<div id="{{object.id}}" class="mydiv" x = {{object.x}} y = {{object.y}} note_id = {{object.id}} onclick="onClick(id)" >
  <div class="mydivheader">
    <input id="{{object.id}} header" value="{{object.title}}" ondblclick="setFocus(id)" onfocusout="lostFocus(id)" class="headertextbox" note_id = "{{object.id}}" /> 
  </div>
  <textarea id="{{object.id}} content" ondblclick="setFocus(id)" onfocusout="lostFocus(id)" class="content" note_id = {{object.id}}>
    {{object.content}}
  </textarea>  
</div>

{% endfor %}


<script>
  var cnt = 40;
//Make the DIV element draggagle:
window.addEventListener("resize", calibrateNotePosition);

var mydivs = document.getElementsByClassName("mydiv")
function calibrateNotePosition(){
for (var i = 0; i < mydivs.length; i++){
  mydivs[i].style.left = mydivs[i].getAttribute("x")*window.innerWidth/100 + "px"
  mydivs[i].style.top  = mydivs[i].getAttribute("y")*window.innerHeight/100 + "px"
  //console.log("{% for object in objects %} {{object.x}} {% endfor %}")
}

}
for (var i = 0; i < mydivs.length; i++){
  dragElement(mydivs[i]);
  calibrateNotePosition()
}
function getNoteObj(e) {
	e = e.target
	note_id = e.getAttribute("note_id")
	e = document.getElementById(note_id)
	return e
}
var isFocused = false;
function setFocus(e)
{
  console.log("got focus")
  for(var i = 0; i < mydivs.length; i++)
  {
    mydivs[i].onmousedown = null;
  }
  //elmnt.onmousedown = null;
  isFocused = true;
  var element = document.getElementById(e)
  element.focus()
  element.selectionStart = element.selectionEnd = element.value.length;
}

function onClick(e)
{
  console.log("click")
  var element = document.getElementById(e)
  element.style.zIndex = cnt++;
}

function lostFocus(e)
{
  //console.log("lost focus")
  for(var i = 0; i < mydivs.length; i++)
  {
    dragElement(mydivs[i]);
  }
  var element = document.getElementById(e);
  console.log(element)
  var mydiv = document.getElementById(element.getAttribute("note_id"))
  console.log(mydiv);
  var myheader = document.getElementById(mydiv.id + " header");
  var mycontent = document.getElementById(mydiv.id + " content");

  var dict = {
    "id" : mydiv.id,
    "header" : myheader.value,
    "content" : mycontent.value
  }
  $.ajax({
      url: '/note/ajax/update/content',
      data: dict,
      type: 'POST'
    })

}

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementsByClassName("header")[0]) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementsByClassName("header")[0].onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX ;
    pos4 = e.clientY ;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement(e) {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
    var w = window.innerWidth;
    var h = window.innerHeight;
    e = getNoteObj(e)
    x = e.offsetLeft*100/w
    y = e.offsetTop *100/h
    e.setAttribute("x", x)
    e.setAttribute("y", y)
	  if ((x > 75 && y > 75) && confirm("Delete note?")){
	  $.ajax({
      url: '/note/ajax/delete/',
      data: {"note_id":e.getAttribute("note_id")},
      type: 'POST'
    })
	    e.remove()
	  }
	  else {
		  $.ajax({
	    	  url: '/note/ajax/update/',
     		 data: {"x":x, 
	    		"y":y,
			"note_id":e.getAttribute("note_id")
      	},
    	  type: 'POST'
    	})
	  }
  }

}
</script>

</body>
{% endblock %}
